body {
  font-family: Arial, sans-serif;
  background-color: green;
  margin: 10px; 
  padding: 10px; 
}

h1 {
  color: #333;
}

p {
  color: #3561ff;
  font-size: 1.2em;
  font-weight: bold;
}

#colorButton {
  background-color: #f0f0f0;
  border: 1px solid #666;
  padding: 5px;
  cursor: pointer;
}
